/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

* {
    margin: 0;
    color: #333;
  }
  
  .header {
    background-color: black;
    margin-bottom: 0px;
  }
  
  .navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    /*Verticalmente*/
    max-width: 970px;
    margin: 0 auto;
    margin-bottom: 0px;
    border-bottom: 1px solid #f2f2f2;
  }
  
  .navbar h4 {
    align-items: center;
    color: lightgrey;

  }
  
  .navbar .links {
    margin-left: auto;
  }
  
  .navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    color: lightgrey;
  }
  
  .content {
    max-width: 970px;
    margin: auto;
    padding: 20px;
  }
  
  .jumbotron {
    background-color: rgb(242, 239, 239);
    max-width: 970px;
    border-radius: 5px;
    margin-top: 0px;
    padding: 20px;
    padding-bottom: 60px;
  }
  
  .card {
    display: inline-flex;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;

  
  }
